body{
 background-color: bisque;   
color: black ;
}
section}
background-color:blue;
padding:40px;
padding-botton:6opx;
display:flex;
justify-content:center;primeira chamada

margin :right;5%
}
mais videos{
display: flex;
overflow-x: alto;
gap: 10px;


header{
margin:40px
backgroud-color:blue
text-size-adjust;40px



